[Unit]
Description=i3 tiling window manager
Requires=xorg.target
Before=environment.target
After=xorg.target

[Service]
ExecStart=/usr/bin/i3
Restart=always
RestartSec=10

[Install]
WantedBy=wm.target
