[Unit]
Description=Window Manager Target
Wants=xorg.target
Wants=xlauncher.target
Requires=dbus.socket
AllowIsolate=true

[Install]
Alias=default.target
