[submodule ".zsh/zprezto"]
	path = .zsh/zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule ".config/vimperator/plugins"]
	path = .config/vimperator/plugins
	url = https://github.com/vimpr/vimperator-plugins
[submodule ".config/vimperator/colors"]
	path = .config/vimperator/colors
	url = https://github.com/vimpr/vimperator-colors
