[bar/test]
monitor = eDP-1
width = 200
height = 50
dock = false
lineheight = 10
background = #ff184f
foreground = #fff4fa
linecolor = #c51850
offset_x = 850
offset_y = 450

font-0 = envypn:pixelsize=13;0

modules-center = network

[module/network]
type = internal/network

interface = net1

interval = 2.0

test_connectivity_every_nth_update = 1

format-connected = <label-connected>
format-disconnected = <label-disconnected>
format-packetloss = <label-packetloss>

label-connected = Connected %local_ip%
label-disconnected = Disconnected
label-packetloss = Packetloss!

# vim:ft=dosini
